* {
    all: unset;
    font-family: "IosevkaTermSlabNerdFont";
}

// WINDOW STYLES
.bg {
    background-color: #1e222a;
    border: 2px solid #80A0C0;
}

window {
    background: #2e3440;
    color: #05ffde;
    border: 3px solid #c04abc;
}

// POWER MENU
.powermenu {
    font-size: 1.75rem;
}